.navbar {
  background-color: #84d6f4;
  height: 40px;
}
.navbar .navbar-brand {
  color: #b5f0ff;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #040404;
}
.navbar .navbar-text {
  color: #b5f0ff;
}
.navbar .navbar-text p {
  color: #040404;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #040404; 
}
.navbar .navbar-nav .nav-link {
  color: #b5f0ff;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #040404;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #040404;
  background-color: #000000;
}
.navbar .navbar-toggle {
  border-color: #fcfeff;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #fcfeff;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #b5f0ff;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #b5f0ff;
}
.navbar .navbar-link {
  color: #b5f0ff;
}
.navbar .navbar-link:hover {
  color: #040404;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #b5f0ff;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #040404;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #040404;
    background-color: #fcfeff;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #b5f0ff;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #040404;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #040404;
    background-color: #fcfeff;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #b5f0ff;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #040404;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #040404;
    background-color: #fcfeff;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #b5f0ff;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #040404;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #040404;
    background-color: #fcfeff;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #b5f0ff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #040404;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #040404;
  background-color: #fcfeff;
}

.my-custom-scrollbar {
  position: relative;
  width: 100%;
  left: 0px;
  height: 530px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}

thead, tbody, tbody tr {
  /* display: table;*/
   width: 1500px;
   table-layout: fixed;
 }
 a {
  font-family: sans-serif;
}
 
 thead {
   position: absolute;
   top: 0;
   width: 1500px;
   z-index: 10;
   color: #e375ff;
   text-transform: uppercase;
   background-color: #fafafa;
   /*letter-spacing: 1px;*/
   font-size: 1em;
   font-weight: 400;
   padding: 5 5px;
   /*margin-top: 5px;
   margin-bottom: 5px;*/
 }
 
 tbody {
   display: block;
   height: 100%;
   overflow-y: auto;
   position: absolute;
   box-sizing: border-box;
 }

.single-line {
  /*width: 100%;*/
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.resplandor {
  color: #0c0c0c !important;
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  padding: 0.5em 1.2em;
  background:  #fcfeff;
  border-radius: 10%;
  position: relative;
}

.tabs_resplandor {
  color: #84d6f4 !important;
  /*margin-top: 20px;
  padding: 0.5em 1.2em;*/
  background:  #f3f3f3;
  /*border-radius: 10%;
  position: relative;*/
}

.tabs_resplandor:hover {
  box-shadow: 0 4px 16px rgb(55, 198, 255);
  color: #00cbff;
  transition: all 0.2s ease;
  -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}

.resplandor:hover {
  box-shadow: 0 4px 16px rgb(170, 231, 255);
  transition: all 0.2s ease;
  -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}
.sucursal{
  color: #c45252 !important;
  font-size: 20px;
  font-weight: 500;
  margin-top: -47px;
  margin-left: 365px;
  width: 500px;
  padding: 0.5em 1.2em;
  background:  #fcfeff;
  border-radius: 10%;
  position: relative;
}
.guardar{
  color: #52cc00 !important;
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  padding: 0.5em 1.2em;
  background:  #fcfeff;
  border-radius: 10%;
  position: relative;
}
.guardar:hover {
  box-shadow: 0 4px 16px rgb(157, 255, 128);
  transition: all 0.2s ease;
}
.sucursal:hover {
  box-shadow: 0 4px 16px rgb(170, 231, 255);
  transition: all 0.2s ease;
}
.resplandorDark {
  color: #fafafa !important;
  
}
.resplandorDark:hover {
  color: #84d6f4 !important;
  box-shadow: 0 4px 16px rgb(170, 231, 255);
  transition: all 0.2s ease;
  -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}
/*Estilo para check box - switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 18px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(198, 246, 255);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color:#60d5ff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(23px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.tag{
  position: relative;
  top: 6;
  left: 12;
}

.field-icon {
  float: right;
  margin-left: -25px;
  margin-right: 8px;
  margin-top: -25px;
  margin-bottom: -25px; 
  position: relative;
  z-index: 2;
}
.my-card
{
    position:absolute;
    left:40%;
    top:-20px;
    border-radius:50%;
}

.box-totalNota{
  color: white;
  background-color: #ff3737;
}

.box-idNota{
  color: white;
  background-color: #2c6bff;
}


/* el thead va ser siempre estatico */
/*thead{
  background-color: #ccfafc;
  position: fixed !important;
  font-size: 15px;
}*/

.inputtext {
  border: 1px solid grey;
  margin: 0;
  padding: 5px;
  width: 100%;
}

.choices .choice {
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 5px;
  width: 100%;
}

.contado{
  color: rgb(13, 195, 0);
}

.isweb{
  background-color: #e9ecef; 
}